#
# Copyright (C) 2020-2021 Signal Messenger, LLC.
# SPDX-License-Identifier: AGPL-3.0-only
#

[package]
name = "libsignal-protocol"
version = "0.1.0"
authors = ["Ehren Kret <ehren@signal.org>", "Jack Lloyd <jack@signal.org>"]
edition = "2018"
license = "AGPL-3.0-only"
repository = "https://github.com/signalapp/libsignal-client"

[dependencies]
aes = { version = "0.7.4", features = ["ctr"] }
aes-gcm-siv = "0.10.1"
arrayref = "0.3.6"
async-trait = "0.1.41"
block-modes = "0.8"
curve25519-dalek = { version = "3.0", features = ["serde"] }
hmac = "0.9.0"
itertools = "0.10.1"
prost = "0.8"
rand = "0.7.3"
sha2 = "0.9"
subtle = "2.2.3"
x25519-dalek = "1.0"
hex = "0.4"
log = "0.4"
num_enum = "0.5.1"
uuid = "0.8"
displaydoc = "0.2"

[features]
armv8 = ["aes/armv8", "aes-gcm-siv/armv8"]

[dev-dependencies]
criterion = "0.3"
futures-util = "0.3.7"

[build-dependencies]
prost-build = "0.8"

[[bench]]
name = "session"
harness = false

[[bench]]
name = "ratchet"
harness = false

[[bench]]
name = "sealed_sender"
harness = false
