#
# Copyright (C) 2020 Signal Messenger, LLC.
# SPDX-License-Identifier: AGPL-3.0-only
#

[package]
name = "libsignal-protocol"
version = "0.1.0"
authors = ["Ehren Kret <ehren@signal.org>", "Jack Lloyd <jack@signal.org>"]
edition = "2018"
license = "AGPL-3.0-only"
repository = "https://github.com/signalapp/libsignal-client"

[dependencies]
signal-crypto = { path = "../crypto" }
aes = "0.6"
ctr = "0.6"
arrayref = "0.3.6"
async-trait = "0.1.41"
block-modes = "0.7"
hmac = "0.9.0"
prost = "0.7"
rand = "0.7.3"
sha2 = "0.9"
subtle = "2.2.3"
x25519-dalek = "1.0"
hex = "0.4"
log = "0.4"
num_enum = "0.5.1"
uuid = "0.8"

[dependencies.curve25519-dalek]
features = ["serde", "alloc"]
version = "3.0.0"
git = "https://github.com/signalapp/curve25519-dalek.git"
branch = "3.0.0-lizard2"

[features]
default = ["u64_backend"]
u32_backend = ["curve25519-dalek/u32_backend"]
u64_backend = ["curve25519-dalek/u64_backend"]
simd_backend = ["curve25519-dalek/simd_backend"]
nightly = ["curve25519-dalek/nightly"]

[dev-dependencies]
criterion = "0.3"
futures = "0.3.7"

[build-dependencies]
prost-build = "0.7"

[[bench]]
name = "session"
harness = false

[[bench]]
name = "ratchet"
harness = false
