# Prevent auto-merging of generated acknowledgment files
acknowledgments/acknowledgments.* -merge -text
acknowledgments/acknowledgments.*.hbs merge text=auto

# Treat encrypted and unencrypted message backup files as binary
**/*.binproto binary
**/*.binproto.encrypted binary

# Avoid Windows line-endings for files compared literally.
**/*.expected.json text eol=lf