/.idea
/target
/swift/.build
/node/dist
/node_modules
/build

/rust/bridge/node/futures/tests/node-tests/node_modules

*.orig
*.rej

*~
\#*\#
.\#*

java/build
java/android/build/
java/java/build
java/tests/build
java/.gradle
java/gradle.properties
java/local.properties
java/android/src/main/jniLibs
java/java/src/main/resources
