/.idea
*.iml
/target
/swift/**/.build
/swift/**/.swiftpm
/node/dist
/node/node_modules
/node/build

/rust/bridge/node/futures/tests/node-tests/node_modules

*.orig
*.rej

*~
\#*\#
.\#*

java/**/build
java/.gradle
java/local.properties
java/android/src/*/jniLibs
java/android/src/main/assets/acknowledgments
java/client/bin/
java/client/src/main/resources/*.dylib
java/client/src/main/resources/*.so
java/client/src/main/resources/*.dll
java/server/bin/
java/server/src/main/resources/*.dylib
java/server/src/main/resources/*.so
java/server/src/main/resources/*.dll

.DS_Store
Brewfile.lock.json
