/.idea
*.iml
/target
/swift/.build
/node/dist
/node/node_modules
/node/build

/rust/bridge/node/futures/tests/node-tests/node_modules

*.orig
*.rej

*~
\#*\#
.\#*

java/**/build
java/.gradle
java/local.properties
java/android/src/main/jniLibs
java/shared/resources/*.dylib
java/shared/resources/*.so
java/shared/resources/*.dll

.DS_Store
