[workspace]
members = [
    "rust/attest",
    "rust/crypto",
    "rust/device-transfer",
    "rust/poksho",
    "rust/protocol",
    "rust/zkgroup",
    "rust/bridge/ffi",
    "rust/bridge/jni",
    "rust/bridge/node",
]
default-members = [
    "rust/crypto",
    "rust/device-transfer",
    "rust/poksho",
    "rust/protocol",
    "rust/zkgroup",
]
resolver = "2" # so that our dev-dependency features don't leak into products

[patch.crates-io]
# Use our fork of curve25519-dalek for eventual zkgroup support.
curve25519-dalek = { git = 'https://github.com/signalapp/curve25519-dalek', branch = 'lizard2' }
boring = { git = 'https://github.com/signalapp/boring', branch = 'libsignal'}
