node_modules/
android/build/
android/.cxx/
android/.gradle/
tests/build/
lib/
cpp/signal_ffi.h
cpp/signal_ffi_cpp.h
android/jniLibs/
example/node_modules/
example/android/build/
example/android/.gradle/
example/android/app/build/
example/android/.cxx/
example/android/app/src/main/assets/index.android.bundle
