[package]
name = "libsignal-net-chat"
version = "0.1.0"
edition = "2024"
rust-version = "1.85"
authors.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
libsignal-core = { workspace = true }
libsignal-keytrans = { workspace = true }
libsignal-net = { workspace = true }
libsignal-protocol = { workspace = true }
usernames = { workspace = true }
zkgroup = { workspace = true }

assert_matches = { workspace = true }
async-trait = { workspace = true }
base64 = { workspace = true }
bytes = { workspace = true }
const-str = { workspace = true }
derive_more = { workspace = true }
displaydoc = { workspace = true }
either = { workspace = true }
futures-util = { workspace = true }
hex = { workspace = true }
http = { workspace = true }
itertools = { workspace = true }
log = { workspace = true }
prost = { workspace = true }
rand = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
serde_with = { workspace = true, features = ["base64"] }
static_assertions = { workspace = true }
strum = { workspace = true, features = ["derive"] }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["rt", "time", "macros"] }
tokio-stream = { workspace = true }
uuid = { workspace = true, features = ["serde"] }
visibility = { workspace = true }

http-body = { workspace = true, optional = true }
libsignal-net-grpc = { workspace = true, optional = true }
tonic = { workspace = true, optional = true, default-features = false }
tonic-prost = { workspace = true, optional = true }

[features]
grpc = [
    "http-body",
    "libsignal-net/tower-service",
    "libsignal-net-grpc",
    "tonic",
    "tonic-prost",
]

[dev-dependencies]
libsignal-net-chat = { path = ".", features = ["grpc"] }

libsignal-cli-utils = { workspace = true }
libsignal-net = { workspace = true, features = ["test-util"] }

anyhow = { workspace = true }
bytes = { workspace = true }
clap = { workspace = true, features = ["derive"] }
const-str = { workspace = true }
env_logger = { workspace = true }
futures-util = { workspace = true }
http-body-util = { workspace = true }
hyper = { workspace = true, features = ["http2", "client"] }
hyper-util = { workspace = true }
nonzero_ext = { workspace = true }
pretty_assertions = { workspace = true }
rand = { workspace = true }
rand_chacha = { workspace = true }
test-case = { workspace = true }
test-log = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "test-util"] }
tower-service = { workspace = true }
