#
# Copyright (C) 2023 Signal Messenger, LLC.
# SPDX-License-Identifier: AGPL-3.0-only
#
[package]
name = "libsignal-message-backup"
version = "0.1.0"
edition = "2021"
authors = ["Signal Messenger LLC"]
license = "AGPL-3.0-only"

[features]
# Enables code to allow conversion of backups to and from JSON.
json = ["dep:serde_json", "dep:protobuf-json-mapping"]

[[example]]
name = "json_to_binproto"
required-features = ["json"]

[[example]]
name = "binproto_to_json"
required-features = ["json"]

[dependencies]
libsignal-message-backup-macros = { path = "macros" }
libsignal-protocol = { path = "../protocol" }
signal-crypto = { path = "../crypto" }
usernames = { path = "../usernames" }
zkcredential = { path = "../zkcredential", features = ["rayon"] }
zkgroup = { path = "../zkgroup" }

aes = "0.8.3"
arrayvec = "0.7.4"
async-compression = { version = "0.4.5", features = ["futures-io", "gzip"] }
async-trait = "0.1.41"
cbc = "0.1.2"
clap = { version = "4.2.1", features = ["derive"] }
clap-stdin = "0.3.0"
derive-where = "1.2.5"
displaydoc = "0.2.5"
env_logger = "0.10.0"
futures = "0.3.29"
hex = { version = "0.4.3", features = ["serde"] }
hkdf = "0.12"
hmac = "0.12"
itertools = "0.12.0"
log = "0.4"
macro_rules_attribute = "0.2.0"
mediasan-common = "0.5.0"
num_enum = "0.6.1"
protobuf = "3.3.0"
protobuf-json-mapping = { version = "3.3.0", optional = true }
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = { version = "1.0", optional = true, features = ["preserve_order"] }
sha2 = "0.10"
smallvec = "1.13.2"
strum = { version = "0.26", features = ["derive"] }
# This isn't strictly necessary but we need at least this version to avoid
# warnings from the latest nightly rustc. Remove this when the referenced strum
# version has at least this version as a dependency.
strum_macros = { version = "0.26.4" }
subtle = "2.5.0"
thiserror = "1.0.50"
uuid = { version = "1.1.2", features = ["serde"] }

[dev-dependencies]
libsignal-message-backup = { path = "./", features = ["json"] }
signal-crypto = { path = "../crypto" }

array-concat = "0.5.2"
assert_cmd = "2.0.13"
assert_matches = "1.5.0"
dir-test = "0.2.0"
futures = { version = "0.3.29", features = ["executor"] }
hex-literal = "0.4.1"
json5 = "0.4.1"
nonzero_ext = "0.3.0"
once_cell = "1.19"
test-case = "3.3.1"
test-log = "0.2.14"
testing_logger = "0.1.1"
pretty_assertions = "1.4.0"

[build-dependencies]
protobuf = "3.3.0"
protobuf-codegen = "3.3.0"
