#
# Copyright (C) 2020 Signal Messenger, LLC.
# SPDX-License-Identifier: AGPL-3.0-only
#

[package]
name = "libsignal-bridge"
version = "0.1.0"
authors.workspace = true
license.workspace = true
edition = "2021"
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
attest = { workspace = true }
device-transfer = { workspace = true }
libsignal-account-keys = { workspace = true }
libsignal-bridge-macros = { workspace = true }
libsignal-bridge-types = { workspace = true }
libsignal-core = { workspace = true }
libsignal-keytrans = { workspace = true }
libsignal-message-backup = { workspace = true }
libsignal-net = { workspace = true }
libsignal-protocol = { workspace = true }
signal-crypto = { workspace = true }
signal-media = { workspace = true, optional = true }
usernames = { workspace = true }
zkgroup = { workspace = true }

aes-gcm-siv = "0.11.1"
base64 = { workspace = true }
bincode = { workspace = true }
futures-util = { workspace = true }
hkdf = { workspace = true }
hmac = { workspace = true }
http = { workspace = true }
itertools = { workspace = true }
log = { workspace = true }
nonzero_ext = { workspace = true }
paste = { workspace = true }
prost = { workspace = true }
rand = { workspace = true }
scopeguard = { workspace = true }
sha2 = { workspace = true }
static_assertions = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread"] }
uuid = { workspace = true }

# Enable this for all libsignal app language libraries
subtle = { workspace = true, features = ["core_hint_black_box"] }

jni = { workspace = true, optional = true }
linkme = { workspace = true, optional = true }
neon = { workspace = true, optional = true, default-features = false, features = ["napi-6"] }
strum = { workspace = true, features = ["derive"] }

[dev-dependencies]
assert_matches = { workspace = true }
test-case = { workspace = true }
testing_logger = { workspace = true }
tokio = { workspace = true, features = ["test-util", "time", "macros"] }

[features]
ffi = ["libsignal-bridge-types/ffi"]
jni = ["dep:jni", "libsignal-bridge-types/jni"]
node = ["neon", "linkme", "libsignal-bridge-types/node"]
signal-media = ["dep:signal-media", "libsignal-bridge-types/signal-media"]
