name: Rust

on:
  push:
    branches: [ master ]
    paths-ignore: ['swift']
  pull_request:
    branches: [ master ]
    paths-ignore: ['swift']

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Install nightly rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true
        profile: minimal
        components: rustfmt, clippy
    - uses: actions/checkout@v2
    - name: Rustfmt check
      run: cargo fmt -- --check
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Clippy
      run: cargo clippy
